.bg { fill: #1e1e24; }
.facelet { rx: 3px; ry: 3px; stroke: #18181b; stroke-width: 2px; }

/* Standard WCA Last Layer Palette (Yellow Top) */
.c_dim    { fill: #3f3f46; } /* Unoriented / Dark */
.c_yellow { fill: #ffd500; }
.c_white  { fill: #eeeeee; }
.c_green  { fill: #009b48; }
.c_blue   { fill: #0046ad; }
.c_orange { fill: #ff5800; }
.c_red    { fill: #b71234; }
